html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    background: #F0F2F4;
  }
  .navbar.is-white {
    background: #F0F2F4;
  }
  .navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
  }

.ilustration {
    width:100% !important;
}

  @media (min-width:769px) {
      .ilustration {
          width:50% !important;
      }
  }
